<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="
    app.settings.asideFolded = false; 
    app.settings.asideDock = false;
  ">
<div class="wrapper-md" ng-controller="SentNewsController">
  <toaster-container toaster-options="{'position-class': 'toast-top-full-width', 'close-button':false}"></toaster-container>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label>标题</label>
        <input type="text" class="form-control ng-pristine ng-untouched ng-valid" placeholder="请输入标题......" ng-model="toaster.title">
      </div>

      <!--<div class="form-group">
        <label>内容</label>
        <textarea class="form-control ng-pristine ng-untouched ng-valid" placeholder="请输入内容......" rows="5" ng-model="toaster.text"></textarea>
      </div>-->
    </div>

    <div class="col-sm-6">
      <label>类型</label>
      <div class="radio">
        <label class="i-checks">
          <input type="radio" name="message" ng-model="toaster.type" value="message" >
          <i></i>
          消息
        </label>
      </div>
      <div class="radio">
        <label class="i-checks">
          <input type="radio" name="task" ng-model="toaster.type" value="task">
          <i></i>
          任务
        </label>
      </div>
      <div class="radio">
        <label class="i-checks">
          <input type="radio" name="article" ng-model="toaster.type" value="article">
          <i></i>
          文章
        </label>
      </div>
      <div class="radio">
        <label class="i-checks">
          <input type="radio" name="question" ng-model="toaster.type" value="question">
          <i></i>
          问题
        </label>
      </div>
    </div>

    <!--内容-->
    <div class="form-group col-sm-12">
      <label>内容</label>
      <div class="wrapper-md">
        <div text-angular ng-model="toaster.text" class="btn-groups" id='content'></div>
      </div>
    </div>
  </div>

  <button class="btn btn-info" ng-click="pop()">发  表</button>

</div> 
</div>
