<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="ShowNewsController" ng-init="
    app.settings.asideFolded = false; 
    app.settings.asideDock = false;
  ">
  <!-- carousel -->
  <div ng-controller="CarouselDemoCtrl" class="panel b-a" set-ng-animate="false">
    <carousel interval="myInterval" style="height:250px">
      <slide style="height:250px" ng-repeat="slide in slides" active="slide.active">
        <img style="height:250px" ng-src="{{slide.image}}" class="img-full">
        <div class="carousel-caption">
          <h4>Slide {{$index}}</h4>
          <p>{{slide.text}}</p>
        </div>
      </slide>
    </carousel>
    <!--<div class="panel-footer">
      <button type="button" class="btn btn-default m-r" ng-click="addSlide()">Add Slide</button>
      Interval: <input type="number" class="form-control w-sm inline" ng-model="myInterval"> ms          
    </div>-->
  </div>
  <!-- / carousel --> 

  <!--消息公告-->
  <div class="col-sm-6">
      <div class="panel b-a">
        <div class="panel-heading b-b b-light">
          <!--<span class="badge bg-warning pull-right">10</span>-->
          <a href class="font-bold">任务公告</a>
        </div>
        <ul class="list-group list-group-lg no-bg auto">
          <li ng-repeat = " task in tasks | limitTo:4" class="list-group-item clearfix">
            <span class="clear">
              <span>{{task.NoticTitle}}</span>
              <small class="text-muted clear text-ellipsis">{{task.NoticText}}</small>
            </span>
          </li>
        </ul>
      </div>       
    </div>

  <!--任务公告-->
  <div class="col-sm-6">
      <div class="panel b-a">
        <div class="panel-heading b-b b-light">
          <!--<span class="badge bg-warning pull-right">10</span>-->
          <a href class="font-bold">消息公告</a>
       </div>
        <ul class="list-group list-group-lg no-bg auto">
          <li ng-repeat = " message in messages | limitTo:4" class="list-group-item clearfix">
            <span class="clear">
              <span>{{message.NoticTitle}}</span>
              <small class="text-muted clear text-ellipsis">{{message.NoticText}}</small>
            </span>
          </li>
        </ul>
      </div>       
    </div>

  <!--博文-->
  <div class="col-sm-6">
      <div class="panel b-a">
        <div class="panel-heading b-b b-light">
          <!--<span class="badge bg-warning pull-right">10</span>-->
          <a href class="font-bold">文章公告</a>
        </div>
        <ul class="list-group list-group-lg no-bg auto">
          <li ng-repeat = " article in articles | limitTo:4" class="list-group-item clearfix">
            <span class="clear">
              <span>{{article.NoticTitle}}</span>
              <small class="text-muted clear text-ellipsis">{{article.NoticText}}</small>
            </span>
          </li>
        </ul>
      </div>       
    </div>

  <!--时钟，天气-->
  <div class="col-sm-6">
      <div class="panel b-a">
        <div class="panel-heading b-b b-light">
          <!--<span class="badge bg-warning pull-right">10</span>-->
          <a href class="font-bold">问题公告</a>
        </div>
        <ul class="list-group list-group-lg no-bg auto">
          <li class="list-group-item clearfix" ng-repeat = " question in questions | limitTo:4">
            <span class="pull-left thumb-sm avatar m-r">
              <img src="img/a4.jpg" alt="...">
              <i class="on b-white bottom"></i>
            </span>
            <span class="clear">
              <span>{{question.NoticTitle}}</span>
              <small class="text-muted clear text-ellipsis">{{question.NoticText}}</small>
            </span>
          </li>
        </ul>
      </div>       
    </div>
</div>