<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="ShowNewsController" ng-init="
    app.settings.asideFolded = false; 
    app.settings.asideDock = false;
  ">
  <!-- carousel -->
  <div ng-controller="CarouselDemoCtrl" class="panel b-a" set-ng-animate="false">
    <carousel interval="myInterval" style="height:250px">
      <slide style="height:250px" ng-repeat="slide in slides" active="slide.active">
        <img style="height:250px" ng-src="{{slide.image}}" class="img-full">
        <div class="carousel-caption">
          <h4>Slide {{$index}}</h4>
          <p>{{slide.text}}</p>
        </div>
      </slide>
    </carousel>
    <!--<div class="panel-footer">
      <button type="button" class="btn btn-default m-r" ng-click="addSlide()">Add Slide</button>
      Interval: <input type="number" class="form-control w-sm inline" ng-model="myInterval"> ms          
    </div>-->
  </div>
  <!-- / carousel --> 

  <!--消息公告-->
  <div class="col-sm-6">
      <div class="panel b-a">
        <div class="panel-heading b-b b-light">
          <!--<span class="badge bg-warning pull-right">10</span>-->
          <a href class="font-bold">消息公告</a>
        </div>
        <ul class="list-group list-group-lg no-bg auto">
          <li class="list-group-item clearfix">
            <span class="clear">
              <span>广东设计比赛</span>
              <small class="text-muted clear text-ellipsis">恭喜林家伟同学，在广东设计大赛中荣获十等奖，收到习大大的接见，恭喜林家伟同学，在广东设计大赛中荣获十等奖，收到习大大的接见，恭喜林家伟同学，在广东设计大赛中荣获十等奖，收到习大大的接见</small>
            </span>
          </li>
          <li class="list-group-item clearfix">
            <span class="clear">
              <span>全国电子大赛</span>
              <small class="text-muted clear text-ellipsis">10月10号国庆节期间，欢迎各位积极参加全国电子竞技大赛，LOL</small>
            </span>
          </li>
          <li class="list-group-item clearfix">
            <span class="clear">
              <span>马拉松比赛</span>
              <small class="text-muted clear text-ellipsis">因为马拉松进行时间过久，所以奥委会决定取消马拉松比赛项目</small>
            </span>
          </li>
          <li class="list-group-item clearfix">
            <span class="clear">
              <span>大蛇王</span>
              <small class="text-muted clear text-ellipsis">印度的大神们最近发现一条直径xxxx好长的大蛇，当地称为蛇王</small>
            </span>
          </li>
        </ul>
      </div>       
    </div>

  <!--任务公告-->
  <div class="col-sm-6">
      <div class="panel b-a">
        <div class="panel-heading b-b b-light">
          <!--<span class="badge bg-warning pull-right">10</span>-->
          <a href class="font-bold">任务公告</a>
       </div>
        <ul class="list-group list-group-lg no-bg auto">
          <li class="list-group-item clearfix">
            <span class="clear">
              <span>广东设计比赛</span>
              <small class="text-muted clear text-ellipsis">恭喜林家伟同学，在广东设计大赛中荣获十等奖，收到习大大的接见，恭喜林家伟同学，在广东设计大赛中荣获十等奖，收到习大大的接见，恭喜林家伟同学，在广东设计大赛中荣获十等奖，收到习大大的接见</small>
            </span>
          </li>
          <li class="list-group-item clearfix">
            <span class="clear">
              <span>全国电子大赛</span>
              <small class="text-muted clear text-ellipsis">10月10号国庆节期间，欢迎各位积极参加全国电子竞技大赛，LOL</small>
            </span>
          </li>
          <li class="list-group-item clearfix">
            <span class="clear">
              <span>马拉松比赛</span>
              <small class="text-muted clear text-ellipsis">因为马拉松进行时间过久，所以奥委会决定取消马拉松比赛项目</small>
            </span>
          </li>
          <li class="list-group-item clearfix">
            <span class="clear">
              <span>大蛇王</span>
              <small class="text-muted clear text-ellipsis">印度的大神们最近发现一条直径xxxx好长的大蛇，当地称为蛇王</small>
            </span>
          </li>
        </ul>
      </div>       
    </div>

  <!--博文-->
  <div class="col-sm-6">
      <div class="panel b-a">
        <div class="panel-heading b-b b-light">
          <!--<span class="badge bg-warning pull-right">10</span>-->
          <a href class="font-bold">博文</a>
        </div>
        <ul class="list-group list-group-lg no-bg auto">
          <li class="list-group-item clearfix">
            <span class="clear">
              <span>广东设计比赛</span>
              <small class="text-muted clear text-ellipsis">恭喜林家伟同学，在广东设计大赛中荣获十等奖，收到习大大的接见，恭喜林家伟同学，在广东设计大赛中荣获十等奖，收到习大大的接见，恭喜林家伟同学，在广东设计大赛中荣获十等奖，收到习大大的接见</small>
            </span>
          </li>
          <li class="list-group-item clearfix">
            <span class="clear">
              <span>全国电子大赛</span>
              <small class="text-muted clear text-ellipsis">10月10号国庆节期间，欢迎各位积极参加全国电子竞技大赛，LOL</small>
            </span>
          </li>
          <li class="list-group-item clearfix">
            <span class="clear">
              <span>马拉松比赛</span>
              <small class="text-muted clear text-ellipsis">因为马拉松进行时间过久，所以奥委会决定取消马拉松比赛项目</small>
            </span>
          </li>
          <li class="list-group-item clearfix">
            <span class="clear">
              <span>大蛇王</span>
              <small class="text-muted clear text-ellipsis">印度的大神们最近发现一条直径xxxx好长的大蛇，当地称为蛇王</small>
            </span>
          </li>
        </ul>
      </div>       
    </div>

  <!--时钟，天气-->
  <div class="col-sm-6">
      <div class="panel b-a">
        <div class="panel-heading b-b b-light">
          <!--<span class="badge bg-warning pull-right">10</span>-->
          <a href class="font-bold">时钟，天气</a>
        </div>
        <ul class="list-group list-group-lg no-bg auto">
          <li class="list-group-item clearfix">
            <span class="pull-left thumb-sm avatar m-r">
              <img src="img/a4.jpg" alt="...">
              <i class="on b-white bottom"></i>
            </span>
            <span class="clear">
              <span>Chris Fox</span>
              <small class="text-muted clear text-ellipsis">What's up, buddy</small>
            </span>
          </li>
          <li class="list-group-item clearfix">
            <span class="pull-left thumb-sm avatar m-r">
              <img src="img/a5.jpg" alt="...">
              <i class="on b-white bottom"></i>
            </span>
            <span class="clear">
              <span>Amanda Conlan</span>
              <small class="text-muted clear text-ellipsis">Come online and we need talk about the plans that we have discussed</small>
            </span>
          </li>
          <li class="list-group-item clearfix">
            <span class="pull-left thumb-sm avatar m-r">
              <img src="img/a6.jpg" alt="...">
              <i class="busy b-white bottom"></i>
            </span>
            <span class="clear">
              <span>Dan Doorack</span>
              <small class="text-muted clear text-ellipsis">Hey, Some good news</small>
            </span>
          </li>
          <li class="list-group-item clearfix">
            <span class="pull-left thumb-sm avatar m-r">
              <img src="img/a7.jpg" alt="...">
              <i class="away b-white bottom"></i>
            </span>
            <span class="clear">
              <span>Lauren Taylor</span>
              <small class="text-muted clear text-ellipsis">Nice to talk with you.</small>
            </span>
          </li>
        </ul>
      </div>       
    </div>
</div>