<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="ShowNewsController" ng-init="
    app.settings.asideFolded = false; 
    app.settings.asideDock = false;
  ">
  <!-- carousel -->
  <div ng-controller="CarouselDemoCtrl" class="panel b-a" set-ng-animate="false">
    <carousel interval="myInterval" style="height:250px">
      <slide style="height:250px" ng-repeat="slide in slides" active="slide.active">
        <img style="height:250px" ng-src="{{slide.image}}" class="img-full">
        <div class="carousel-caption">
          <h4>Slide {{$index}}</h4>
          <p>{{slide.text}}</p>
        </div>
      </slide>
    </carousel>
    <!--<div class="panel-footer">
      <button type="button" class="btn btn-default m-r" ng-click="addSlide()">Add Slide</button>
      Interval: <input type="number" class="form-control w-sm inline" ng-model="myInterval"> ms          
    </div>-->
  </div>
  <!-- / carousel --> 

  <!--消息公告-->
  <div class="col-sm-6" style="margin-top:10px" ng-show="isshow">
      <div class="panel b-a">
        <div class="panel-heading b-b b-light">
          <!--<span class="badge bg-warning pull-right">10</span>-->
          <a ui-sref="app.a_shownews({type:'task'})" class="font-bold">任务公告</a>
        </div>
        <ul class="list-group list-group-lg no-bg auto">
          <li ng-repeat = " task in tasks | limitTo:4" class="list-group-item clearfix">
            <span class="clear">
              <span><a ui-sref="app.a_shownewsdetail({noticID:'{{task.NoticID}}'})">{{task.NoticTitle}}</a></span>
              <small class="text-muted clear text-ellipsis">{{task.NoticText}}</small>
            </span>
          </li>
        </ul>
      </div>       
    </div>

  <!--任务公告-->
  <div class="col-sm-6"  style="margin-top:10px" ng-show="isshow">
      <div class="panel b-a">
        <div class="panel-heading b-b b-light">
          <!--<span class="badge bg-warning pull-right">10</span>-->
          <a ui-sref="app.a_shownews({type:'message'})" class="font-bold">消息公告</a>
       </div>
        <ul class="list-group list-group-lg no-bg auto">
          <li ng-repeat = " message in messages | limitTo:4" class="list-group-item clearfix">
            <span class="clear">
              <span><a ui-sref="app.a_shownewsdetail({noticID:'{{message.NoticID}}'})">{{message.NoticTitle}}</a></span>
              <small class="text-muted clear text-ellipsis">{{message.NoticText}}</small>
            </span>
          </li>
        </ul>
      </div>       
    </div>

  <!--博文-->
  <div class="col-sm-6" style="margin-top:10px" ng-show="isshow">
      <div class="panel b-a">
        <div class="panel-heading b-b b-light">
          <!--<span class="badge bg-warning pull-right">10</span>-->
          <a ui-sref="app.a_shownews({type:'article'})" class="font-bold">文章公告</a>
        </div>
        <ul  class="list-group list-group-lg no-bg auto">
          <li ng-repeat = " article in articles | limitTo:4" class="list-group-item clearfix">
            <span class="clear">
              <span><a ui-sref="app.a_shownewsdetail({noticID:'{{article.NoticID}}'})">{{article.NoticTitle}}</a></span>
              <small class="text-muted clear text-ellipsis">{{article.NoticText}}</small>
            </span>
          </li>
        </ul>
      </div>       
    </div>

  <!--时钟，天气-->
  <div class="col-sm-6" style="margin-top:10px" ng-show="isshow">
      <div class="panel b-a">
        <div class="panel-heading b-b b-light">
          <!--<span class="badge bg-warning pull-right">10</span>-->
          <a ui-sref="app.a_shownews({type:'question'})" class="font-bold">问题公告</a>
        </div>
        <ul class="list-group list-group-lg no-bg auto">
          <li class="list-group-item clearfix" ng-repeat = " question in questions | limitTo:4">
            <span class="pull-left thumb-sm avatar m-r">
              <img src="img/a4.jpg" alt="...">
              <i class="on b-white bottom"></i>
            </span>
            <span class="clear">
              <span><a ui-sref="app.a_shownewsdetail({noticID:'{{question.NoticID}}'})">{{question.NoticTitle}}</a></span>
              <small class="text-muted clear text-ellipsis">{{question.NoticText}}</small>
            </span>
          </li>
        </ul>
      </div>       
    </div>

<!--单独的消息-->
<!-- modal -->
<div ng-controller="ShowModalControler" class="panel b-a">
    <script type="text/ng-template" id="myModalContent.html">
      <div class="modal-header">
          <h3 class="modal-title">确认删除?</h3>
      </div>
      <div class="modal-footer">                  
          <button class="btn btn-default" ng-click="cancel()">取消删除</button>
          <button class="btn btn-primary" ng-click="ok()">确认删除</button>
      </div>
    </script>
</div>
<!-- /modal -->
<div class="wrapper-md" ng-show="!isshow" ng-controller="ShowModalControler">
  <div class="panel panel-default">
    <div class="panel-heading">
      {{notictypes}}
     <i class="icon-action-undo" style='float: right'><a ui-sref="app.a_shownews({type:'all'})">返回</a></i>
    </div>
    <div class="panel-body b-b b-light">
      关键字搜索: <input id="filter" type="text" class="form-control input-sm w-sm inline m-r"/>
    </div>
    <div>
      <table class="table m-b-none" ui-jq="footable" data-filter="#filter" data-page-size="8">
        <thead>
          <tr>
              <th data-toggle="true">
                  标题
              </th>
              <th data-hide="phone">
                  内容
              </th>
              <th data-hide="phone">
                  作者
              </th>
              <th data-hide="phone">
                  发表时间
              </th>
              <th data-hide="">
                  操作
              </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat = " onenotic in notictype">
              <td><a ui-sref="app.a_shownewsdetail({noticID:'{{onenotic.NoticID}}'})">{{onenotic.NoticTitle}}</a></td>
              <td><a ui-sref="app.a_shownewsdetail({noticID:'{{onenotic.NoticID}}'})">{{onenotic.NoticText}}</a></td>
              <td>{{onenotic.NoticAuthor}}</td>
              <td data-value={{onenotic.NoticUUID}}>{{onenotic.SaveTime}}</td>
              <td style="margin:0px;">
                <!--<button class="btn m-b-xs btn-sm btn-danger btn-addon" ng-click="open('sm')" style="margin:0px;" ui-toggle-class="show inline" target='#{{onenotic.NoticID}}'>
                  <span class="text"><i class="fa fa-trash-o"></i>删除</span>
                  <span class="text-active"><i class="fa fa-trash-o"></i>删除中</span>
                </button> 
                <i class="fa fa-spin fa-spinner hide" id={{onenotic.NoticID}}></i>-->
                <button class="btn m-b-xs btn-sm btn-danger btn-addon" ng-click="open('sm','{{onenotic.NoticID}}')" style="margin:0px;"><i class="fa fa-trash-o"></i>删除</button>
                <button class="btn m-b-xs btn-sm btn-info btn-addon" ng-click="read('{{onenotic.NoticID}}')" style="margin:0px;"><i class="fa fa-play"></i>阅读</button>
              </td>
          </tr>
        </tbody>
        <tfoot class="hide-if-no-paging">
          <tr>
              <td colspan="5" class="text-center">
                  <ul class="pagination"></ul>
              </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
    
</div>