<div class="hbox hbox-auto-xs hbox-auto-sm bg-light " ng-init="
  app.settings.asideFixed = true;
  app.settings.asideDock = false;
  app.settings.container = false;
  app.hideAside = false;
  app.hideFooter = true;
  " ng-controller="NumberListController">


  <div class="col w b-r col-sm-2">
    <div class="vbox">
      <div class="row-row">
        <div class="cell scrollable hover">
          <div class="cell-inner">
            <div class="list-group no-radius no-border no-bg m-b-none">
              <a class="list-group-item b-b" ng-class="{'focus': (filter == '')}" ng-click="selectGroup({name:''})">所 有 成 员</a>
              <a ng-repeat="item in groups" ng-dblclick="editItem(item)" class="list-group-item m-l hover-anchor b-a no-select" ng-class="{'focus m-l-none': item.selected}" ng-click="selectGroup(item)">
                <span class="block m-l-n" ng-class="{'m-n': item.selected }">{{ item.name ? item.name : 'Untitled' }}</span>
                <input type="text" class="form-control pos-abt" ng-show="item.editing" ng-blur="doneEditing(item)" ng-model="item.name" style="top:3px;left:2px;width:98%" ui-focus="item.editing">
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="wrapper b-t">
        <span tooltip="Double click to Edit" class="pull-right text-muted inline wrapper-xs m-r-sm"><i class="fa fa-question"></i></span>
        <a href class="btn btn-sm btn-default" ng-click="createGroup()"><i class="fa fa-plus fa-fw m-r-xs"></i> New Group</a>
      </div>-->
    </div>
  </div>

<div class="col w-lg lter b-r col-sm-2">
    <div class="vbox">
      <div class="wrapper-xs b-b">
        <div class="input-group m-b-xxs">
          <span class="input-group-addon input-sm no-border no-bg"><i class="icon-magnifier text-md m-t-xxs"></i></span>
          <input type="text" class="form-control input-sm no-border no-bg text-md" placeholder="Search {{group.name ? group.name : 'All Contacts'}}" ng-model="query">
        </div>
      </div>
      <div class="row-row">
        <div class="cell scrollable hover">
          <div class="cell-inner">
            <div class="m-t-n-xxs">
              <div class="list-group list-group-lg no-radius no-border no-bg m-b-none">
                <a ng-repeat="item in items | filter:{group:filter} | filter:query | orderBy:'first'" class="list-group-item m-l" ng-class="{'select m-l-none': item.selected }" ng-click="selectItem(item)">
                  <span class="block text-ellipsis m-l-n text-md" ng-class="{'m-l-none': item.selected }">
                    {{item.realname}}
                    <span ng-hide="item.realname">未填写真名</span>
                  </span>
                </a>
              </div>
            </div>
            <div class="text-center pos-abt w-full" style="top:50%;" ng-hide="(items | filter:{group:filter} | filter:query).length">没有联系人</div>
          </div>
        </div>
      </div>
      <!--<div class="wrapper b-t text-center">
        <a href class="btn btn-sm btn-default btn-addon" ng-click="createItem()"><i class="fa fa-plus fa-fw m-r-xs"></i> New Contact</a>
      </div>-->
    </div>
  </div>

 <div class="col bg-white-only col-sm-8">
    <div class="vbox">
      <div class="wrapper-sm b-b">
        <div class="m-t-n-xxs m-b-n-xxs m-l-xs">
          <a class="btn btn-xs btn-default" ng-hide="item.editing" ng-click="editItem(item)">修改信息</a>
          <a class="btn btn-xs btn-default" ng-show="item.editing" ng-click="doneEditing(item)">保存修改</a>
          <span class="label bg-success pull-right m-t-xs" ng-show="issavestate">{{savestate}}</span>
          <span class="label bg-danger pull-right m-t-xs">{{savestatewrong}}</span>
        </div>
      </div>
      <div class="row-row">
        <div class="cell">
          <div class="cell-inner">
            <div class="wrapper-lg">
              <div class="hbox h-auto m-b-lg">
                <div class="col text-center w-sm">
                  <!--<div class="thumb-lg avatar inline">
                    <img ng-src="{{item.avatar}}" ng-show="item.avatar">
                  </div>-->
                </div>
                <div class="col v-middle h1 font-thin">
                  <div ng-hide="item.editing">{{item.realname}}</div>
                  <div ng-show="item.editing">
                    <input type="text" placeholder="First" class="form-control w-auto input-lg m-b-n-xxs font-bold" ng-model="item.realname" >
                    <!--<input type="text" placeholder="Last" class="form-control w-auto input-lg font-bold" ng-model="item.last" >-->
                  </div>
                </div>
              </div>

              <div class="form-horizontal">
                <div class="form-group m-b-sm" ng-hide="!item.userID && !item.editing">
                  <label class="col-sm-3 control-label">用户ID：</label>
                  <div class="col-sm-9">
                    <p class="form-control-static">{{item.userID}}</p>
                  </div>
                </div>
                <div class="form-group m-b-sm" ng-hide="!item.username && !item.editing">
                  <label class="col-sm-3 control-label">用户名：</label>
                  <div class="col-sm-9">
                    <p class="form-control-static">{{item.username}}</p>
                    <!--<input type="text" class="form-control" ng-show="item.editing" ng-model="item.username" >-->
                  </div>
                </div>
                <div class="form-group m-b-sm" ng-hide="!item.level && !item.editing">
                  <label class="col-sm-3 control-label">权限等级：</label>
                  <div class="col-sm-9">
                    <p class="form-control-static" ng-hide="item.editing">{{item.level}}</p>
                    <input type="text" class="form-control" ng-show="item.editing" ng-model="item.level" >
                  </div>
                </div>
                <div class="form-group m-b-sm" ng-hide="!item.major && !item.editing">
                  <label class="col-sm-3 control-label">专业：</label>
                  <div class="col-sm-9">
                    <p class="form-control-static" ng-hide="item.editing">{{item.major}}</p>
                    <input type="text" class="form-control" ng-show="item.editing" ng-model="item.major" >
                  </div>
                </div>
                <div class="form-group m-b-sm" ng-hide="!item.class && !item.editing">
                  <label class="col-sm-3 control-label">班级：</label>
                  <div class="col-sm-9">
                    <p class="form-control-static" ng-hide="item.editing">{{item.class}}  班</p>
                    <input type="text" class="form-control" ng-show="item.editing" ng-model="item.class" >
                  </div>
                </div>
                <div class="form-group m-b-sm" ng-hide="!item.mobile && !item.editing">
                  <label class="col-sm-3 control-label">手机号码：</label>
                  <div class="col-sm-9">
                    <p class="form-control-static" ng-hide="item.editing">{{item.mobile}}</p>
                    <input type="text" class="form-control" ng-show="item.editing" ng-model="item.mobile" >
                  </div>
                </div>
                <div class="form-group m-b-sm" ng-hide="!item.qqnumber && !item.editing">
                  <label class="col-sm-3 control-label">QQ号码：</label>
                  <div class="col-sm-9">
                    <p class="form-control-static" ng-hide="item.editing">{{item.qqnumber}}</p>
                    <input type="text" class="form-control" ng-show="item.editing" ng-model="item.qqnumber" >
                  </div>
                </div>
                <div class="form-group m-b-sm" ng-hide="!item.regtime && !item.editing">
                  <label class="col-sm-3 control-label">注册时间：</label>
                  <div class="col-sm-9">
                    <p class="form-control-static" ng-hide="item.editing">{{item.regtime}}</p>
                    <input type="text" class="form-control" ng-show="item.editing" ng-model="item.regtime" >
                  </div>
                </div>
                <div class="form-group m-b-sm" ng-hide="!item.avaliable && !item.editing">
                  <label class="col-sm-3 control-label">用户状态：</label>
                  <div class="col-sm-9">
                    <p class="form-control-static" ng-hide="item.editing">{{item.avaliable}}</p>
                    <!--<input type="text" class="form-control" ng-show="item.editing" ng-model="item.avaliable" >-->
                    <select ng-model="item.avaliable" class=" " ng-show="item.editing"  ng-options="x for x in avaliables"></select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
